APP_NAME="Auth Gateway"
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost:8091

DB_CONNECTION=mysql
DB_HOST=auth-gateway-mysql
DB_PORT=3306
DB_DATABASE=auth_gateway
DB_USERNAME=auth_gateway
DB_PASSWORD=change_me

BFRN_BASE_URL=http://gateway/bfrn
BFRN_INTERNAL_URL=http://bfrn-nginx
BFRN_HANDOFF_SECRET=change_me_to_long_random_secret

AUTH_GATEWAY_SUPERVISORS=thina.taliwe2@gmail.com,korrie@bchem.co.za
AUTH_GATEWAY_TOKEN_TTL_MINUTES=5
AUTH_GATEWAY_APPROVAL_TTL_MINUTES=30
AUTH_GATEWAY_REQUIRE_APPROVAL_FOR_RISKY=true

IAM_DB_PASSWORD=
IAM_DB_ROOT_PASSWORD=
